body {
    margin: 0;
    font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;

}

h1, h2, p {
    margin-top: 0;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

a {
    color: #FFE600;
}

header,
section {
    padding: 50px;
}

header {
    background: #FFE600;
    color: #000;
}

.section-one {
    background: black;
    color: white;
}

.section-two-link {
    color: black;
}


/* button styles */

.btn-yellow {
    display: inline-block;
    padding: 12px 25px;
    background: #FFE600;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.btn-yellow:hover {
    background: white;
}

.btn-black {
    display: inline-block;
    padding: 12px 25px;
    background: #000;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.btn-black:hover {
    background: #FFE600;
    color: black;
}


/*
 if you have two margins touching each other and one is 20 pixels and one is 10 pixels,
  you are going to get the 20 pixels. You are always going to get the larger of the two values
  when the two of the collapse.
 */
/*
 but what happens when margins between child elements and parent elements react with each other?
 That's a little bit trickier.
 */